* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-family: sans-serif;
  line-height: 1;

  color: black;

  width: 100vw;
}

#showcase {
  max-height: 500px;
  width: 100%;
  background-color: bisque;
  border: 2px solid burlywood;
  overflow: auto;
}

#showcase ul,
#showcase ol {
  padding-inline-start: 16px;
}

#showcase li > ::content:first-child {
  font-weight: 700;
}
