/* ############################################# RESET ############################################# */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --color-white: #e1e1e1;
  --color-background: #d3d3d3;
  --color-header: #7d7d7d;
  --color-border: #747474;
}

body {
  font-size: 1rem;
  font-family: sans-serif;
  color: black;

  background-color: var(--color-background);
  width: 100%;
}

input {
  font-family: "Cambria";
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
  background-color: #d8e1f4a8;
  border: 0;
  border-radius: 0;
  /* border-bottom: 1px solid black; */
  /* border: 1px solid black; */
}

input:active,
input:focus-visible {
  outline: none;
}

/* ############################################# CONTROLS ############################################# */
#controls {
  width: 100%;
  padding: 2rem 3rem;

  background-color: var(--color-header);
  border-bottom: 2px solid var(--color-border);
  margin-bottom: 2.5rem;

  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

#controls > label {
  font-family: "Verdana";
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

#select,
#print,
#toggle,
#clear {
  margin-right: 2rem;
  padding: 0.5em;
  border: 2px inset black;
  border-radius: 0.25em;

  background-color: var(--color-white);
  font-size: 1.5rem;
  font-family: "Verdana";
}

#toggle {
  width: 2rem;
  height: 2rem;
}

#clear {
  margin-left: auto;
  margin-right: 0;
}

/* ############################################# CONTENT ############################################# */
#content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
  position: relative;
}

/* ############################################# DOCUMENT IMAGE ############################################# */
#image {
  margin: 0 auto;

  background-size: cover;
}

/* ############################################# DOCUMENT FORM ############################################# */
#form {
  position: absolute;
  width: 100%;
  height: 100%;
}

#form > input {
  position: absolute;
}

/* ############################################# HOVER ############################################# */
select:hover,
button:hover {
  opacity: 0.5;
}

select:active,
button:active {
  opacity: 0.25;
}

#form > input:hover,
#form > input:active,
#form > input:focus-within,
#form > input:focus-visible {
  background-color: #d8e1f4;
}

@page {
  margin: 3mm 1mm 0mm 0mm;
}

.bg-grid {
  /* background-color: #ffffff;
  opacity: 1;
  background-image: linear-gradient(#000000 1mm, transparent 1mm),
    linear-gradient(90deg, #000000 1mm, transparent 1mm),
    linear-gradient(#000000 0.5mm, transparent 0.5mm),
    linear-gradient(90deg, #000000 0.5mm, #ffffff 0.5mm);
  background-size: 35px 35px, 35px 35px, 7px 7px, 7px 7px;
  background-position: -1mm -1mm, -1mm -1mm, -0.5mm -0.5mm, -0.5mm -0.5mm; */

  background-color: #ffffff;
  opacity: 1;
  background-image: linear-gradient(red 2px, transparent 0px),
    linear-gradient(blue 2px, transparent 0px),
    linear-gradient(green 2px, transparent 0px),
    linear-gradient(purple 2px, transparent 0px),
    linear-gradient(black 2px, transparent 0px),
    linear-gradient(90deg, red 2px, transparent 0px),
    linear-gradient(90deg, blue 2px, transparent 0px),
    linear-gradient(90deg, green 2px, transparent 0px),
    linear-gradient(90deg, purple 2px, transparent 0px),
    linear-gradient(90deg, black 2px, transparent 0px),
    linear-gradient(brown 2px, transparent 0px),
    linear-gradient(90deg, brown 2px, transparent 0px);
  background-size: 25mm 25mm, 25mm 25mm, 25mm 25mm, 25mm 25mm, 25mm 25mm,
    25mm 25mm, 25mm 25mm, 25mm 25mm, 25mm 25mm, 25mm 25mm, 100mm 100mm,
    100mm 100mm;
  background-position: 5mm 5mm, 10mm 10mm, 15mm 15mm, 20mm 20mm, 25mm 25mm,
    5mm 5mm, 10mm 10mm, 15mm 15mm, 20mm 20mm, 25mm 25mm, 132.5mm 132.5mm,
    57.5mm 57.5mm;
}

/* ############################################# PRINT ############################################# */
@media print {
  body {
    width: auto;
  }

  input {
    border: none;
    background-color: transparent;
  }

  input::placeholder {
    opacity: 0;
    visibility: hidden;
    display: none;
    color: transparent;
  }

  #controls {
    display: none;
  }

  .will-hide {
    visibility: hidden !important;
    opacity: 0 !important;
  }

  body.landscape {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  body.landscape #content {
    transform: rotate(90deg);
  }
}
