* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  min-height: 100dvh;
}

.main {
  display: flex;
  flex-wrap: wrap;
  padding: 0 100px;
  justify-content: space-evenly;
}

#chart,
#preview {
  border: 2px solid black;
  position: relative;
  min-height: 200px;
  min-width: 200px;
  max-height: 800px;
  max-width: 800px;
  margin: auto;
  box-sizing: content-box;
  aspect-ratio: 1/1;
}

#chart::after {
  content: "";
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: -2px;
  left: 100%;
  border: 2px solid black;
  box-sizing: content-box;
  border-left: 0;
  z-index: -1;
}

.piece {
  display: inline;
  width: 100px;
  height: 100px;
  position: absolute;
  border: 1px solid red;
  aspect-ratio: 1/1;
  transition: top 0.1s ease-in, left 0.1s ease-in;
}

.bg-filler,
#chart::after {
  background-image: repeating-linear-gradient(
    45deg,
    #98c1d9,
    #98c1d9 10px,
    #c0d6df 10px,
    #c0d6df 20px
  );
  box-shadow: inset 0 0 15px -3px #227c9d;
}

.hidden {
  display: none;
  visibility: hidden;
}

.hover-hide {
  visibility: hidden;
}

.onion {
  opacity: 0.5;
  z-index: 1;
  position: absolute !important;
}

.hover {
  z-index: 1;
  position: absolute !important;
}

#preview-btn {
  display: flex;
  position: absolute;
  width: 50px;
  height: 50px;
  top: -2px;
  right: 100%;
  margin: 25px;
  border: 2px solid red;
  opacity: 0.75;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  background: none;
  visibility: visible;
}
