* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

@property --offset {
  syntax: "<length>";
  inherits: false;
  initial-value: 0px;
}

@property --h {
  syntax: "<length>";
  inherits: false;
  initial-value: 0px;
}

@property --top {
  syntax: "<length>";
  inherits: false;
  initial-value: 0px;
}

@property --col-up {
  syntax: "<color>";
  inherits: false;
  initial-value: #faebb2;
}

@property --col-down {
  syntax: "<color>";
  inherits: false;
  initial-value: #faebb2;
}

@property --bg {
  syntax: "<color>";
  inherits: false;
  initial-value: #e9b0b9;
}

html {
  --w: 64px;
  --top: 8vh;
  --h: calc(var(--w) * 0.75);
  --offset: calc(var(--w) * 0.75);
  --col-up: #faebb2;
  --col-down: #faebb2;
  --bg: #e9b0b9;

  --col-up-1: color-mix(in srgb, var(--col-up) 66%, var(--bg));
  --col-up-2: color-mix(in srgb, var(--col-up) 33%, var(--bg));
  --col-down-1: color-mix(in srgb, var(--col-down) 66%, var(--bg));
  --col-down-2: color-mix(in srgb, var(--col-down) 33%, var(--bg));

  min-height: 100dvh;
  transition: --col-up 1s ease-in, --col-down 1s ease-in, --bg 1s ease-in;

  /* prettier-ignore */
  background-image:
    linear-gradient(var(--col-up), var(--col-up)),
    radial-gradient(100% 100% at 50% 100%, transparent  calc(var(--w) / 2), var(--col-up)    0px),
    radial-gradient(50%  100% at 25%  50%, var(--col-up)     calc(var(--w) / 2), transparent 0px),
    /* ############################################################ */
    linear-gradient(color-mix(in srgb, var(--col-up-1) 90%, var(--col-up)), var(--col-up-1)),
    radial-gradient(100% 100% at 50% 100%, transparent  calc(var(--w) / 2), var(--col-up-1)   0px),
    radial-gradient(50%  100% at 25%  50%, var(--col-up-1)    calc(var(--w) / 2), transparent 0px),
    /* ############################################################ */
    linear-gradient(color-mix(in srgb, var(--col-up-2) 90%, var(--col-up-1)), var(--col-up-2)),
    radial-gradient(100% 100% at 50% 100%, transparent  calc(var(--w) / 2), var(--col-up-2)   0px),
    radial-gradient(50%  100% at 25%  50%, var(--col-up-2)    calc(var(--w) / 2), transparent 0px),
    /* ============================================================ */
    linear-gradient(0deg, var(--col-down), var(--col-down)),
    radial-gradient(100% 100% at 50% 0%, transparent calc(var(--w) / 2), var(--col-down) 0px),
    radial-gradient(50% 100% at 25% 50%, var(--col-down) calc(var(--w) / 2), transparent 0px),
    /* ############################################################ */
    linear-gradient(0deg, color-mix(in srgb, var(--col-down-1) 90%, var(--col-down)), var(--col-down-1)),
    radial-gradient(100% 100% at 50% 0%, transparent calc(var(--w) / 2), var(--col-down-1) 0px),
    radial-gradient(50% 100% at 25% 50%, var(--col-down-1) calc(var(--w) / 2), transparent 0px),
    /* ############################################################ */
    linear-gradient(0deg, color-mix(in srgb, var(--col-down-2) 90%, var(--col-down-1)), var(--col-down-2)),
    radial-gradient(100% 100% at 50% 0%, transparent calc(var(--w) / 2), var(--col-down-2) 0px),
    radial-gradient(50% 100% at 25% 50%, var(--col-down-2) calc(var(--w) / 2), transparent 0px)
  ;

  /* prettier-ignore */
  background-size:
    100% calc(var(--h) * 1.5 + var(--top)),
    var(--w) var(--h),
    calc(var(--w) * 2) var(--h)
  ;

  /* prettier-ignore */
  background-position-y:
    calc(0px            + var(--offset) * 0),
    calc(var(--h)       + var(--offset) * 0 + var(--top)),
    calc(var(--h) * 1.5 + var(--offset) * 0 + var(--top) - 2px),
    /* ############################################################ */
    calc(0px            + var(--offset) * 1),
    calc(var(--h)       + var(--offset) * 1 + var(--top)),
    calc(var(--h) * 1.5 + var(--offset) * 1 + var(--top) - 2px),
    /* ############################################################ */
    calc(0px            + var(--offset) * 2),
    calc(var(--h)       + var(--offset) * 2 + var(--top)),
    calc(var(--h) * 1.5 + var(--offset) * 2 + var(--top) - 2px),
    /* ============================================================ */
    calc(100% - 0px - var(--offset) * 0),
    calc(100% - var(--h) - var(--offset) * 0 - var(--top)),
    calc(100% - var(--h) * 1.5 - var(--offset) * 0 - var(--top) + 2px),
    /* ############################################################ */
    calc(100% - 0px - var(--offset) * 1),
    calc(100% - var(--h) - var(--offset) * 1 - var(--top)),
    calc(100% - var(--h) * 1.5 - var(--offset) * 1 - var(--top) + 2px),
    /* ############################################################ */
    calc(100% - 0px - var(--offset) * 2),
    calc(100% - var(--h) - var(--offset) * 2 - var(--top)),
    calc(100% - var(--h) * 1.5 - var(--offset) * 2 - var(--top) + 2px)
  ;

  background-color: var(--bg);
  background-repeat: repeat-x;
  background-position-x: 0%;

  /* prettier-ignore */
  animation:
    4s linear 0s infinite forwards walk,
    3s ease-in-out 0s infinite alternate gobble
  ;
}

@keyframes gobble {
  from {
    --offset: calc(var(--w) * 1.05);
    /* --h: calc(var(--w) * 0.5); */
    --top: 10vh;
  }

  to {
    --offset: calc(var(--w) * 0.3333);
    /* --h: calc(var(--w) * 0.5); */
    --top: 8vh;
  }
}

@keyframes walk {
  from {
    background-position-x: 0%;
  }

  to {
    /* prettier-ignore */
    background-position-x:
      calc(var(--w) * 8),
      calc(var(--w) * 8),
      calc(var(--w) * 8),
      /* ############################################################ */
      calc(var(--w) * 4),
      calc(var(--w) * 4),
      calc(var(--w) * 4),
      /* ############################################################ */
      calc(var(--w) * 2),
      calc(var(--w) * 2),
      calc(var(--w) * 2),
      /* ============================================================ */
      calc(var(--w) * -8),
      calc(var(--w) * -8),
      calc(var(--w) * -8),
      /* ############################################################ */
      calc(var(--w) * -4),
      calc(var(--w) * -4),
      calc(var(--w) * -4),
      /* ############################################################ */
      calc(var(--w) * -2),
      calc(var(--w) * -2),
      calc(var(--w) * -2);
  }
}

body {
  min-height: 100dvh;
}

.main {
  display: flex;
  flex-wrap: wrap;
  padding: 0 100px;
  justify-content: space-evenly;
}

#chart,
#preview {
  border: 2px solid black;
  position: relative;
  min-height: 200px;
  min-width: 200px;
  max-height: 800px;
  max-width: 800px;
  margin: auto;
  box-sizing: content-box;
  aspect-ratio: 1/1;
}

#chart::after {
  content: "";
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: -2px;
  left: 100%;
  border: 2px solid black;
  box-sizing: content-box;
  border-left: 0;
  z-index: -1;
}

.piece {
  display: inline;
  width: 100px;
  height: 100px;
  position: absolute;
  /* border: 1px solid red; */
  aspect-ratio: 1/1;
  transition: top 0.1s ease-in, left 0.1s ease-in;
}

.bg-filler,
#chart::after {
  background-image: repeating-linear-gradient(
    45deg,
    #98c1d9,
    #98c1d9 10px,
    #c0d6df 10px,
    #c0d6df 20px
  );
  box-shadow: inset 0 0 15px -3px #227c9d;
}

.hidden {
  display: none;
  visibility: hidden;
}

.hover-hide {
  visibility: hidden;
}

.onion {
  opacity: 0.5;
  z-index: 1;
  position: absolute !important;
}

.hover {
  z-index: 1;
  position: absolute !important;
}

#preview-btn {
  display: flex;
  position: absolute;
  width: 50px;
  height: 50px;
  top: -2px;
  right: 100%;
  margin: 25px;
  /* border: 2px solid red; */
  opacity: 0.75;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  background: none;
  visibility: visible;
}

#timer {
  font-family: monospace;
  font-size: 1.2rem;
}
