* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  --w: 50px;
  --h: calc(var(--w) * 1 / 2);
  --c: #faebb2;
  --p: #e9b0b9;
  --c1: color-mix(in srgb, var(--c) 66%, var(--p));
  --c2: color-mix(in srgb, var(--c) 33%, var(--p));

  background-image:
    /* Outline red circle */ radial-gradient(
      100% 100% at 50% 100%,
      transparent calc(var(--w) / 2),
      var(--c) 0px
    ),
    /* Inner blue circle */
      radial-gradient(
        50% 100% at 25% 50%,
        var(--c) calc(var(--w) / 2),
        transparent 0px
      ),
    /* Upper band */ linear-gradient(var(--c) var(--h), transparent 0px),
    /* ########################################################## */
      /* Outline red circle */
      radial-gradient(
        100% 100% at 50% 100%,
        transparent calc(var(--w) / 2),
        var(--c1) 0px
      ),
    /* Inner blue circle */
      radial-gradient(
        50% 100% at 25% 50%,
        var(--c1) calc(var(--w) / 2),
        transparent 0px
      ),
    /* Upper band */ linear-gradient(var(--c1) var(--h), transparent 0px),
    /* ########################################################## */
      /* Outline red circle */
      radial-gradient(
        100% 100% at 50% 100%,
        transparent calc(var(--w) / 2),
        var(--c2) 0px
      ),
    /* Inner blue circle */
      radial-gradient(
        50% 100% at 25% 50%,
        var(--c2) calc(var(--w) / 2),
        transparent 0px
      ),
    /* Upper band */ linear-gradient(var(--c2) var(--h), transparent 0px);

  background-size:
    /* Outline red circle */ var(--w) var(--h),
    /* Inner blue circle */ calc(var(--w) * 2) var(--h),
    /* Upper band */ 100% calc(var(--h) + 4px);

  background-position-y:
    /* Outline red circle */ var(--h),
    /* Inner blue circle */ calc(var(--h) * 1.5 - 2px), /* Upper band */ 0px,
    /* ################################## */ /* Outline red circle */
      calc(var(--h) + 16px),
    /* Inner blue circle */ calc(var(--h) * 1.5 - 2px + 16px),
    /* Upper band */ calc(0px + 16px),
    /* ################################## */ /* Outline red circle */
      calc(var(--h) + 32px),
    /* Inner blue circle */ calc(var(--h) * 1.5 - 2px + 32px),
    /* Upper band */ calc(0px + 32px);

  /*   background-repeat: no-repeat; */
  background-repeat: repeat-x;
  background-position-x: 0%;
  background-color: var(--p);

  animation: 4s linear 0s infinite forwards walk;
}

@keyframes walk {
  from {
    background-position-x: 0%;
  }

  to {
    background-position-x: calc(0% + var(--w) * 8), calc(0% + var(--w) * 8),
      calc(0% + var(--w) * 8),
      /* ##################################### */ calc(0% + var(--w) * 4),
      calc(0% + var(--w) * 4), calc(0% + var(--w) * 4),
      /* ##################################### */ calc(0% + var(--w) * 2),
      calc(0% + var(--w) * 2), calc(0% + var(--w) * 2);
  }
}

body {
  min-height: 100dvh;
}

.main {
  display: flex;
  flex-wrap: wrap;
  padding: 0 100px;
  justify-content: space-evenly;
}

#chart,
#preview {
  border: 2px solid black;
  position: relative;
  min-height: 200px;
  min-width: 200px;
  max-height: 800px;
  max-width: 800px;
  margin: auto;
  box-sizing: content-box;
  aspect-ratio: 1/1;
}

#chart::after {
  content: "";
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: -2px;
  left: 100%;
  border: 2px solid black;
  box-sizing: content-box;
  border-left: 0;
  z-index: -1;
}

.piece {
  display: inline;
  width: 100px;
  height: 100px;
  position: absolute;
  /* border: 1px solid red; */
  aspect-ratio: 1/1;
  transition: top 0.1s ease-in, left 0.1s ease-in;
}

.bg-filler,
#chart::after {
  background-image: repeating-linear-gradient(
    45deg,
    #98c1d9,
    #98c1d9 10px,
    #c0d6df 10px,
    #c0d6df 20px
  );
  box-shadow: inset 0 0 15px -3px #227c9d;
}

.hidden {
  display: none;
  visibility: hidden;
}

.hover-hide {
  visibility: hidden;
}

.onion {
  opacity: 0.5;
  z-index: 1;
  position: absolute !important;
}

.hover {
  z-index: 1;
  position: absolute !important;
}

#preview-btn {
  display: flex;
  position: absolute;
  width: 50px;
  height: 50px;
  top: -2px;
  right: 100%;
  margin: 25px;
  /* border: 2px solid red; */
  opacity: 0.75;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  background: none;
  visibility: visible;
}

#timer {
  font-family: monospace;
  font-size: 1.2rem;
}
